* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f4f8;
    color: #333;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background:#e7e4e5;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 12px;
    background: rgb(222, 228, 238);
  }
  .about{
    color: #065d06;
    
  }
  .profile-img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  
  h1 {
    font-size: 2em;
    color: #2c3e50;
  }
  
  h2 {
    margin-top: 20px;
    color: chocolate;
  }
  

  .skills ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .skills li {
    background: #e7d5eaac;
    margin-bottom: 8px;
    padding: 10px;
    color: rgb(45, 89, 4);
  }
  
  /* Footer with Flexbox */
  .footer {
    margin-top: 30px;
    text-align: center;
    color: brown;
  }
  
  .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #1a73e8;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #010711;
  }
 